/*
RESET
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    background-color: #FFFFFF;
    min-height: 50px;
    max-width: 1500px;
    margin: 0 auto;


}
ul {
    list-style-type: none;
}
.item {
    margin: 0 auto;
    width: 80%;
}
.flex-container {
    display: flex;
    justify-content: center;
}
/*
HEADER
*/
.headercolor {
    
    background-color: #255EE9;
}



.nav-header {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px 5px;
    text-align: center;
}
.lists{
    padding-top: 10px;
    padding-left: 30px;   
}
.linkstyle{
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content:flex-start;
    width: calc(100%/5);
    text-align: left;
}
.link{
    width: calc((100%/5) *3);
    text-decoration: none;
    
}
.login {
    display: flex;
    justify-content:flex-end;
    width: calc(100%/5);
    text-align: right;

}
.linklogin {
    justify-content: flex-end;
    align-self: center;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 20px 5px;
}
.linkmacdownload{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 30px 10px;
    border-radius: 20px;

}
.linkbrowser{
    text-decoration: none;
    background-color: black;
    color: white;
    margin-left: 20px;
    padding: 10px 30px 10px;
    border-radius: 20px;

}
.titlesstyle{
    font-size: 3em;
}
p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-main {
    display: flex;
    justify-content: center;
    background-color: #00008B;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/*
MAIN
*/
.box {
    --background-color: #EE82EE;
    width: 1000px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

--.container-main2 {
    --background-color: red;
    display: flex;
    justify-content: center;

}

.boxes {
    background-color: #FFFFFF;
    display: flex;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.alt-bcg{
    /*!--inserire immagine background
    */
}

.alt-bcg2 {
    padding-top: 30px;
    background-color: #23272A;
}

.section1 {
    width: 60%;
}

.section2 {
    width: 40%;
}

.boxes3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pboxes3{
    background-image: url(../img/stars.svg);
    background-size: contain;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    
    padding-left: 20px;
    padding-right: 20px;
    
}

.linkmacdownload-alt{
    text-decoration: none;
    background-color: skyblue;
    color: white;
    padding: 10px 30px 10px;
    border-radius: 20px;
}
.boxes4 {
    display: flex;
    height: 500px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.section3 {
    width: 30%;
}

.section4 {
    display: flex;
    width: 70%;
}
.section5 {
    display: flex;
    width: 100%;
   
}


.columns {
    width: 25%;
}
/*
FOOTER
*/
.footer-container {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listsfooter{
    color: white;
    padding-top: 20px;
    
}
.first-listsfooter{
    padding-top: 20px;
    color: skyblue;
}

.titlefooter{
    color: skyblue;
    font-style: bold;
}
.pfooter{
    color: white;
    display: flex;
}
.imgitafooter{
    align-self: flex-start;
    height: 20px;
    padding-right: 5px;
}
.footer-bottoni {
    text-align: center;
    padding: 5px 10px 5px;
}
.linkbottomfooter{
    background-color: skyblue;
    color: white;
    border-radius: 20px;
    padding: 10px 30px 10px;
    text-decoration: none;
   
}
.hrfooter{
    border-color: white;
}